*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



main{
    max-width: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}



.generalt, .sor{
    padding: 10px;
    display:grid ;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}


.jatekter{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid solid grey;
}

.visszajelzes{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.szinvalaszto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    justify-content: center;
}




.vElem .elem .szin{
    aspect-ratio: 3;
    border: 2px solid solid grey;
}



.szin:nth-child(){
     
        background-color: red;
      
}
.szin:nth-child(){
     
    background-color: green;
  
}
.szin:nth-child(){
     
    background-color: orange;
  
}
.szin:nth-child(){
     
    background-color: yellow;
  
}
.szin:nth-child(){
     
    background-color: blue;
  
}
.szin:nth-child(){
     
    background-color: purple;
  
}